<div class="my-3 w-50 mx-auto">
    <div class="d-flex me-5">
        <div class="align-self-center p-2">
            <div class="align-middle fw-bold fs-5">Edit your expense here...</div>
        </div>
    </div>
</div>
<div class="mx-auto w-50">
    <form method="POST" action="/record/{{ thisRecord._id }}?_method=PUT">
        <div class="input-group my-2">
            <span class="input-group-text">Item</span>
            <input class="align-middle form-control ms-4" type="text" name="name" value="{{thisRecord.name}}" size="25"
                required>
        </div>
        <div class="input-group my-2">
            <span class="input-group-text">Date</span>
            <input class="align-middle form-control ms-4 me-4" type="date" name="date" value="{{thisRecord.date}}" size="25"
                required>
        </div>
        <div class="input-group my-2">
            <span class="input-group-text">Category</span>
            <select class="form-select" type="text" name="categoryId" aria-label="Default select example"required>
                {{!-- <option selected class="text-reset">{{thisRecord.categoryId}}</option> --}}
                 <option selected class="text-reset">{{thisCategory.name}}</option>
                {{#each categorys}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="input-group my-2">
            <span class="input-group-text">Amount</span>
            <span class="input-group-text">$</span>
            <input class="align-middle form-control ms-4 me-4" type="number" name="amount" min="1"
                value="{{thisRecord.amount}}" size="25" required>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto bd-dark my-2">
            <button class="btn btn-outline-warning btn-sm align-middle" type="submit">Submit</button>
        </div>
    </form>
</div>